header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #4caf50;
    color: whitesmoke;
    margin-bottom: 30px;
    font-size: 1.2em;
    justify-content: space-around;
    > img {
        width: 50px;
        object-fit: contain;
        cursor: pointer;
    }
    .active {
        border: 1px solid red;
    }
}
